<!--<app-search (tourEvent)="searchTour($event)"></app-search>-->
<div>

</div>
<div *ngIf="tickets">
  <ng-container>
    <p>Количество элементов: {{tickets.length}}</p>
    <p>Активный элемент: {{blockDirective.activeElementIndex}}</p>
  </ng-container>
  <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText>
  <div appBlocksStyle
       #tourWrap
       #blockDirective='blocksStyle'
       [selector]="'.ticket-item'"
       [initFirst]="true"
       (onEnter)="onEnter($event)"
       [complete]="finallyComplete"
       [itemsChanges]="itemsChanges"
       (renderComplete)="directiveRenderComplete($event)"
       class="d-flex flex-wrap justify-content-around">
    <div class="ticket-item col-3 m-2"
         (click)="goToTicketInfoPage(item)"
         *ngFor="let item of tickets; let i = index"
         [ngStyle]="{'display': hiddenTour(item)}">
      <div class="ticket-title">{{item.name}}</div>
      <div class="ticket-img">
        <img class="w-100" src="/assets/img/{{item.img}}"/>
      </div>
    </div>
  </div>
  <p *ngIf="tickets?.length === 0"> No data</p>
</div>


