<div class="d-flex flex-column">
  <div>
    <span class="mx-3">{{loginText}}</span>
    <input type="text"
           pInputText
           [ngClass]="{'input-error': !login}"
           [(ngModel)]="login"/>
  </div>
  <div>
    <span class="mx-3">{{passwordText}}</span>
    <input type="password"
           class="mt-3"
           pInputText
           [ngClass]="{'input-error': !password}"
           [(ngModel)]="password"/>
  </div>
  <div *ngIf="showCardNumber" class="mt-3">
    <p-checkbox (onChange)="vipStatusSelected()"
                label="Есть номер карты"
                name="groupname" [binary]="true"
                [(ngModel)]="selectedValue"></p-checkbox>
    <div *ngIf="selectedValue">
      <span class="mx-3">Номер карты</span>
      <input type="text"
             class="mt-3"
             pInputText
             [(ngModel)]="cardNumber"/>
    </div>
  </div>
  <div class="mt-5 d-flex justify-content-center">
    <button [disabled]="!login || !password"
      (click)="onAuth($event)" type="button" class="btn btn-success">{{authTextButton}}</button>
  </div>
</div>

