<div>
  <p-dropdown [options]="menuTypes"
              [(ngModel)]="selectedMenuType"
              optionLabel="label"
              (onChange)="changeType($event)">
  </p-dropdown>
</div>

<div class="mt-3">
  <p-dropdown class="mt-3"
              [options]="tourTypes"
              optionLabel="label"
              (onChange)="changeTourType($event)">
  </p-dropdown>
</div>
<div class="mt-3">
  <p-calendar (onSelect)="selectDate($event)" [showButtonBar]="true"></p-calendar>
</div>
<div class="mt-3">
  <p-button label="Submit" (onClick)='initRestError($event)'></p-button>
</div>
<div class="mt-3">
  <button (click)="initSettingsData()" class="btn btn-sm">Обновить настройки</button>
</div>
<p-toast></p-toast>

