:host {
  height: 60px;
  width: 100%;
  display: block;
}

.time-block{
  padding: 4px;
}

.login{
  display: inline-block;
  border-radius: 2px;
  background: #E5E5E5;
  padding-top: 18px;
  padding-left: 10px;
  padding-right:10px ;
}
