<app-order-headers></app-order-headers>
<p-treeTable [value]="(toursTransform | async)" >
  <ng-template pTemplate="header">
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Возраст пользователя</th>
      <th>День рождения</th>
      <th>Ноиер карты</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.name }}
      </td>
      <td>{{ rowData.description }}</td>
      <td>{{ rowData.price }}</td>
      <td>{{ rowData.age }}</td>
      <td>{{ rowData.birthDay }}</td>
      <td>{{ rowData.cardNumber }}</td>
    </tr>
  </ng-template>
</p-treeTable>
<!--<p-treeTable [value]="(tours | async)">
  <ng-template pTemplate="header">
    <tr>
      <th>name</th>
      <th>description</th>
      <th>price</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tour>
    <tr>
      <td>{{ tour.name }}</td>
      <td>{{ tour.description }}</td>
      <td>{{ tour.price }}</td>
    </tr>
  </ng-template>
</p-treeTable>-->
