<!--<app-order-headers></app-order-headers>
<p-treeTable [value]="(tableData$ | async)" >
  <ng-template pTemplate="header">
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Тип</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        {{ rowData.name }}
      </td>
      <td>{{ rowData.size }}</td>
      <td>{{ rowData.type }}</td>
    </tr>
  </ng-template>
</p-treeTable>-->
<p-table [value]="(tableData$ | async)">
  <ng-template pTemplate="header">
    <tr>
      <th>Age</th>
      <th>BirthDay</th>
      <th>CardNumber</th>
      <th>tourId</th>
      <th>userId</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-order>
    <tr>
      <td>{{ order.age }}</td>
      <td>{{ order.birthDay }}</td>
      <td>{{ order.cardNumber }}</td>
      <td>{{ order.tourId }}</td>
      <td>{{ order.userId }}</td>
    </tr>
  </ng-template>
</p-table>
